@import '../../theme/variables';

mymicds-home {

	.announcement.dismissed {
		animation: deleteAlert 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}

	ion-slides ion-slide {
		$module-colors: #5cb860, #39add1, #e59a13, #e15258, #838cc7, #53bbb4, #eb7728, #20898c;
		$color-count: length($module-colors);

		@for $i from 1 through $color-count {
			$color: nth($module-colors, $i);

			&:nth-child(#{$color-count}n + #{$i}) {
				background: $color;
			}
		}

		.module {
			display: inline-block;
			height: calc(100vh - 56px);
			width: 100%;
			padding: 1rem;
			color: $text-color;
			overflow: hidden;
		}
	}
}

@keyframes deleteAlert {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
