/* --------------------------
  Main Styles
--------------------------- */
.today {
	text-align: left;
	line-height: 0.7;

	.date {
		margin-bottom: 0;
		font-size: 5rem;
		font-weight: 100;
	}

	.day-rotation {
		margin-top: 0;
		font-size: 3rem;
	}
}

.progress {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.progress-day {
		margin-bottom: 2rem;
		transition-duration: 0.5s;
		transition-property: transform;
		transition-timing-function: ease-in-out;

		&.rotate,
		&.activated {
			transform: rotate(360deg);
		}
	}

	.progress-circular {
		position: relative;
		display: flex;
		overflow: visible;

		.progress-chart {
			position: relative;
			z-index: 5;
			margin-left: -50%;
			margin-top: -5%;
			width: 200% !important;
			height: 200% !important;
		}

		.progress-percentage {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.class-label {
				font-size: 4rem;
				font-weight: 100;
				letter-spacing: 0.03em;
				text-align: center;
			}

			.class-percent {
				font-size: 6rem;
				font-weight: 500;
				line-height: 0.75;
			}

			.school-done {
				font-size: 3.5rem;
				font-weight: 500;
				line-height: 0.75;
				text-align: center;
			}
		}
	}
}

/* --------------------------
  Media Queries
--------------------------- */
@media screen and (min-width: 544px) {
	.today {
		.date {
			.date-full {
				font-size: 2em;
			}

			.date-numbered {
				font-size: 1.75em;
			}
		}

		.day {
			.time {
				font-size: 2em;
			}

			.day-rotation {
				font-size: 1.75em;
			}
		}
	}
	.progress {
		.progress-day {
			display: block;
		}
		.progress-circular {
			.progress-chart {
				width: 100% !important;
				height: 100% !important;
				margin: auto;
			}
			.progress-percentage {
				.class-label {
					font-size: 1.5rem;
					font-weight: 300;
				}

				.class-percent {
					font-size: 8rem;
					font-weight: 600;
				}

				.school-done {
					font-size: 4rem;
					font-weight: 600;
				}
			}
		}
	}
}
