$blue: #29ABE2;
$white: #eee;

.login > scroll-content {
	height: 100%;
	background: $blue;

	display: flex !important;
	justify-content: center;
	align-items: center;

	.center-form {
		width: calc(100% - 4rem);
		max-width: 36rem;

		margin-top: auto;
		margin-bottom: auto;

		.header {
			display: block;
			margin-bottom: 1rem;

			.logo {
				display: block;;
				margin: 0 auto;
				width: 12rem;
				height: 12rem;
			}

			.title {
				margin: 0;
				color: $white;

				text-align: center;
				font-size: 3rem;
				font-weight: 300;
			}

			.subtitle {
				margin: 0;
				color: $white;
				text-align: center;
			}
		}

		.loginForm {
			margin: 0 auto;
			text-align: center;

			ion-list {
				margin: 0;

				ion-item {
					padding: 0 1rem;
					background: darken($blue, 10%);
					color: $white;
					border: none !important;

					ion-label {
						color: darken($white, 20%);
					}
				}

				.item-username {
					.micds-prefix {
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}

				.item-login {
					.item-inner {
						padding: 0;
						ion-label {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}
